<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Week's Top-5</title>
    <h1>Week's Top-5:</h1>
    <link rel="stylesheet" href="{{ url_for('static', path='css/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/modal_window.css') }}">
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Untappd</th>
            <th>Actions</th>
        </tr>
        {% for row in table_data %}
        <tr>

            <td>{{ row.name }}</td>
            <td>{{ row.description }}</td>
            <td>{{ row.untpd}}</td>
            <td>
                <button class="edit-button" onclick="showEditForm({{ row.id }}, '{{ row.name }}', '{{ row.description }}', '{{ row.untpd }}')">Edit</button>
                <button class="delete-button" onclick="deleteBook({{ row.id }})">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div id="editFormModal" style="display: none;">
        <h2><b>Update Beer Menu</b></h2>
        <form id="editForm">
            <input type="hidden" id="editId" name="editId">
            <label for="editName"><b>Name:</b></label><br>
            <input type="text" id="editName" name="editName"><br>
            <label for="editDescription"><b>Description:</b></label><br>
            <input type="text" id="editDescription" name="editDescription"><br><br>
            <label for="editUntappd"><b>Untappd:</b></label><br>
            <input type="text" id="editUntappd" name="editUntappd"><br><br>
            <button type="submit">Update</button>
            <button type="button" class="cancel-button" onclick="closeEditForm()">Cancel</button>
        </form>
    </div>



    <a href="/" class="go-to-main-button">Go to Main</a>
     <button class="add-dishes-button" onclick="showAddForm()"> + Add Beer</button>
    <!-- Скрипт для отправки формы -->
     <script>
      // Функция для удаления пива
      async function deleteBook(beerId) {
        try {
          const response = await fetch(`/beer/bottled/${beerId}`, {
            method: 'DELETE'
          });
          if (response.ok) {
            window.location.reload(); // Обновить страницу после успешного удаления
          } else {
            console.error('Failed to delete beer:', response.status);
          }
        } catch (error) {
          console.error('Error deleting beer:', error);
        }
      }

      // Функция для отображения модального окна для добавления новых пив
      function showAddForm() {
        clearFormFields();
        document.getElementById('editFormModal').style.display = 'block';
      }

      // Функция для отображения модального окна редактирования
      function showEditForm(id, name, description, untpd) {
        document.getElementById('editId').value = id;
        document.getElementById('editName').value = name;
        document.getElementById('editDescription').value = description;
        document.getElementById('editUntappd').value = untpd;
        document.getElementById('editFormModal').style.display = 'block';
      }

      // Обработчик события для отправки данных на сервер при редактировании или добавлении
      document.getElementById('editForm').addEventListener('submit', async function(event) {
        event.preventDefault();
        const form = document.getElementById('editForm');
        const id = form.elements.editId.value;
        const name = form.elements.editName.value;
        const description = form.elements.editDescription.value;
        const untpd = form.elements.editUntappd.value;

        try {
          const response = await fetch(`/beer/bottled/${id}?name=${encodeURIComponent(name)}&description=${encodeURIComponent(description)}&untpd=${encodeURIComponent(untpd)}`, {
            method: id ? 'PUT' : 'POST' // Выбор метода в зависимости от наличия ID
          });

          if (response.ok) {
            window.location.reload(); // Обновить страницу после успешного добавления/обновления
          } else {
            console.error(`Failed to ${id ? 'update' : 'add'} beer:`, response.status);
          }
        } catch (error) {
          console.error('Error updating beer:', error);
        }
      });

      function closeEditForm() {
        document.getElementById('editFormModal').style.display = 'none';
      }

      function clearFormFields() {
        document.getElementById('editId').value = '';
        document.getElementById('editName').value = '';
        document.getElementById('editDescription').value = '';
        document.getElementById('editUntappd').value = '';
      }
  </script>
</body>
</html>